name: "Deploy openscad file to GH pages"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.openscad-deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Deploy openscad customizer
        uses: ./
        id: openscad-deployment
        with:
          filename: "example/main_file.scad"
          libraries: "example/libraries.json"
