name: "Test openscad file deployment"

permissions:
  contents: read

on:
  push:
    branches: ["dev"]
  workflow_dispatch: 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy openscad customizer
        uses: ./
        id: openscad-deployment
        with:
          repository: Bob-vdV/openscad-gh-pages 
          filename: "t2.scad"
          dry-run: true
