name: "Deploy openscad file to GH pages"

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: ["dev"]
  workflow_dispatch: 
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.openscad-deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy openscad customizer
        uses: ./
        id: openscad-deployment
        with:
          repository: Bob-vdV/openscad-gh-pages 
          filename: "t2.scad"
          dry-run: true
